{% extends 'blog/base.html' %}
{% load static %}
{% block titulo %}Pagina-about{% endblock titulo %}
{% block presentacion %}

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Projecto Coder BlogArg</h3>
        </div>
        <ul class="timeline">
            <li class="d-flex flex-column align-items-center">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'inicio/assets/img/about/1.jpg' %}" alt="..." /></div>
                <div class="timeline-panel text-center">
                    <div class="timeline-heading">
                        <h4>Primera Parte del Projecto</h4>
                        <h4 class="subheading">Plantillas y sistema de Registro</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Estetica y concepto basico de lo que es una pagina con modelamiento de usuarios con publicaciones de temas de su interes</p></div>
                </div>
            </li>
            <li class="timeline-inverted d-flex flex-column align-items-center">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'inicio/assets/img/about/2.jpg' %}" alt="..." /></div>
                <div class="timeline-panel text-center">
                    <div class="timeline-heading">
                        <h4>Segunda parte del Projecto</h4>
                        <h4 class="subheading">Sistema de publicaciones y busqueda</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Se intento adaptar el concepto de blog  y que los usuarios puedan buscar los temas que mas le interesen para leer publicaciones de usuarios dentro de la pagina</p></div>
                </div>
            </li>
            <li class="d-flex flex-column align-items-center">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'inicio/assets/img/about/3.jpg' %}" alt="..." /></div>
                <div class="timeline-panel text-center">
                    <div class="timeline-heading">
                        <h4>Tercera parte del Projecto</h4>
                        <h4 class="subheading">Sistema de Comentarios</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Se trabajo la funcionalidad de agregarle comentarios a las publicaciones de usuarios.</p></div>
                </div>
            </li>
            <li class="timeline-inverted d-flex flex-column align-items-center">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'inicio/assets/img/about/4.jpg' %}" alt="..." /></div>
                <div class="timeline-panel text-center">
                    <div class="timeline-heading">
                        <h4>Cuarta y ultima parte del projecto</h4>
                        <h4 class="subheading">Sistema de Archivos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Se implemente un sistema de archivos para que tmb los usuarios pudieran incorporar archivos a sus publicaciones</p></div>
                </div>
            </li>
            <li class="timeline-inverted d-flex flex-column align-items-center">
                <div class="timeline-image">
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock presentacion %}