{% extends 'blog/base.html' %}

{% load static %}

{% block titulo %}Blog-Borrar{% endblock titulo %}

{% block presentacion %}

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Borrando Blogs </h1>
        </div>
    </div>
</header>

<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    Desear Eliminar el Post {{blog.titulo}} - {{blog.fecha}}
    <input type="submit" value="Eliminar">
</form>

{% endblock presentacion %}
