{% extends 'blog/base.html' %}

{% load static %}

{% block titulo %}blog-Posteos{% endblock titulo %}



{% block post %}

<a href="{% url 'Blog_Crear' %}">
  <button type="button" class="btn btn-secondary mb-3">Nuevo Post</button>
</a>

{% for blog in blogs %}
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
          <div class="col-md-4">
              <img src="{{ blog.imagen.url }}" class="img-fluid rounded-start" alt="{{ blog.titulo }}">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">{{ blog.titulo }}</h5>
                  <p class="card-text">{{ blog.sub_titulo }}</p>
                  <p class="card-text"><small class="text-body-secondary">Última actualización: {{ blog.fecha }}</small></p>
                  <a href="{% url 'Blog_Detalle' blog.pk %}" class="btn btn-secondary">Ver</a>
                  <a href="{% url 'agregar_comentario' blog.pk %}" class="btn btn-secondary">Comentar</a>
                  {% if user.is_superuser %}
                  <a href="{% url 'blog_Editar' blog.pk %}" class="btn btn-secondary">Editar</a> 
                  <a href="{% url 'blog_Borrar' blog.pk %}" class="btn btn-secondary">Borrar</a>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Comentarios:</h6>
          {% if blog.comentarios.all %}
              {% for comentario in blog.comentarios.all %}
                  <div class="card mb-2">
                      <div class="card-body">
                          <h6 class="card-title">{{ comentario.autor }}</h6>
                          <p class="card-text">{{ comentario.texto }}</p>
                          <p class="card-text"><small class="text-muted">Publicado el {{ comentario.fecha }}</small></p>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <p>No hay comentarios aún.</p>
          {% endif %}
      </div>
  </div>
{% endfor %}



{% endblock post %}




