{% extends 'blog/base.html' %}

{% load static %}

{% block titulo %}Editar-Contraseña{% endblock titulo %}

{% block presentacion %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Edita tu cuenta</h1>
        </div>
    </div>
</header>
{% endblock presentacion %}



{% block register %}
<form action="" method="POST">
    {% csrf_token %}

    <table>

        {{ form }}
        <input type="submit" value="actualizar">

    </table>


</form>
{% endblock register %}