{% extends 'blog/base.html' %}

{% load static %}

{% block titulo %}Pagina-Registro{% endblock titulo %}



{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'blog/assets/favicon.ico' %}" />
{% endblock favicon %}


{% block presentacion %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Registro </h1>
            <p class="lead mb-0">La mejor pagina de Blog de Argentina</p>
        </div>
    </div>
</header>
{% endblock presentacion %}

{% block register %}
<div class="d-flex justify-content-center">

    <div class="d-flex flex-column">

        <p class="fs-5 fw-bold">{{ msj_registro }}</p>

        <form action="" method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            <input type="submit" value="Registrarse">

        </form>

    </div>
</div>
{% endblock register %}