{% extends 'blog/base.html' %}
{% load static %}
{% block tiutlo %}Pagina-Archivos{% endblock tiutlo %}
{% block presentacion %}
<div class="archivo-container">
    <h2>Archivos</h2>
    <ul class="archivo-lista">
        {% for archivo in archivos %}
            <li class="archivo-item">
                <a href="{% url 'Archivo_detalle' archivo.pk %}" class="archivo-link">{{ archivo.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'Archivo_crear' %}" class="btn btn-subir">Subir nuevo Archivo</a>
</div>


<style>
.archivo-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.archivo-lista {
    list-style: none;
    padding: 0;
}
.archivo-item {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.archivo-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.archivo-link:hover {
    text-decoration: underline;
}
.btn-subir {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.btn-subir:hover {
    background-color: #0056b3;
}
</style>
{% endblock presentacion %}